<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Template</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/media.css' %}">
</head>
<body>
	<header>
			<div class="container">
				<a href="#" class="logo">MINNESOTA TECHNOLOGY</a>
				<ul class="menu">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
<!--					<li><a href="#services">Services</a></li>-->
					<li><a href="#products">Products</a></li>
					<li><a href="#partners">Partners</a></li>
					<li><a href="#contacts">Contacts</a></li>
				</ul>
				<ul class="lang">
					<li><a href="index.html">En</a></li>
					<li><a href="/ru/">Ru</a></li>
				</ul>
				<button class="mn"><i></i></button>
			</div>
	</header>
	<div class="slide" id="home">
		<div class="slider">
			<div class="slider_item" style="background-image:url(img/tobias-van-schneider-OGj-lUI9TBQ-unsplash.jpg)">
				<div class="container">
					<div class="slider_item-caption">

						<b>MINNESOTA <br> TECHNOLOGY</b>
						<i>We will cope with the task! </i>
					</div>
					<div class="slider_item-nav">
						<b>Besides the rolled <br> metal, we produce <br> steelworks</b>
						<div class="bottom">
							<div class="nav">
								<button class="slickprev"><i class="fa fa-angle-left"></i></button>
								<b><span class="blue">1</span>/4</b>
								<button class="slicknext"><i class="fa fa-angle-right"></i></button>
							</div>
<!--							<a href="#" class="more">more</a>-->
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about" id="about">
		<div class="container">
			<div class="btitle">About our Company</div>
			<p>There are two mainstream activities - rolled steel supply to and <br> steelworks manufacture for the market of Uzbekistan. </p>
			<a href="#" class="more">more</a>
			<div class="about_slide">
				<div class="about_slide-title">We are in a position to offer wide range of sheet, section-shaped and high-quality rolled metal products. Besides the rolled metal, we produce steelworks, namely:
				</div>
				<div class="about_slide-list">
					<div class="about_slide-list-item">
						<div class="box">
							<img src="img/shed.svg" alt="">
							Sheds for motor vehicles, entrance facilities and recreation zones
						</div>
						<div class="box">
							<img src="img/fence.svg" alt="">
							Fences, enclosing structures and grating
						</div>
						<div class="box">
							<img src="img/gate.svg" alt="">
							Gates (hinged, rolling), wicket gates and doors
						</div>
					</div>

					<div class="about_slide-list-item">
						<div class="box">
							<img src="img/shed.svg" alt="">
							Steel-framed ladders
						</div>
						<div class="box">
							<img src="img/fence.svg" alt="">
							Handrails, rail guards and balcony railing
						</div>
						<div class="box">
							<img src="img/gate.svg" alt="">
							Landscape gardening designs (shelter sheds, benches, see-saws, bridges, etc.)
						</div>
					</div>
					<div class="about_slide-list-item">
						<div class="box">
							<img src="img/shed.svg" alt="">
							Children's playground and sports ground equipment
						</div>
						<div class="box">
							<img src="img/fence.svg" alt="">
							Furniture, furniture frames, interior features and designer structures
						</div>
						<div class="box">
							<img src="img/gate.svg" alt="">
							Trusses, beams, columns and embedded parts
						</div>
					</div>
					<div class="about_slide-list-item">
						<div class="box">
							<img src="img/shed.svg" alt="">
							Shelters, warehouses and workshops
						</div>
						<div class="box">
							<img src="img/fence.svg" alt="">
							Workmen's shelters, site containers and kiosks
						</div>
						<div class="box">
							<img src="img/gate.svg" alt="">
							Hothouses, open-air cages and much more
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="partners" id="partners">
		<div class="container">
			<div class="btitle">Partners</div>
			<div class="partners_list">
				<div class="partners_list-item">
					<img src="img/Arcelor_Mittal.svg.png" alt="">
				</div>
				<div class="partners_list-item">
					<img src="img/Logo-evraz.png" alt="">
				</div>
				<div class="partners_list-item">
					<img src="img/logo-nlmk.png" alt="">
				</div>
				<div class="partners_list-item">
					<img src="img/mmk-logo.png" alt="">
				</div>
				<div class="partners_list-item">
					<img src="img/%D0%97%D0%A1%D0%9C%D0%9A.png" alt="">
				</div>
				<div class="partners_list-item">
					<img src="img/Arcelor_Mittal.svg.png" alt="">
				</div>
				<div class="partners_list-item">
					<img src="img/Logo-evraz.png" alt="">
				</div>
				<div class="partners_list-item">
					<img src="img/logo-nlmk.png" alt="">
				</div>
				<div class="partners_list-item">
					<img src="img/mmk-logo.png" alt="">
				</div>
				<div class="partners_list-item">
					<img src="img/%D0%97%D0%A1%D0%9C%D0%9A.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="product" id="products">
		<div class="container">
			<div class="btitle">Products</div>
			<div class="product_list">
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/2017-02-14-21-21_armatura-riflenaya-stopka_293x195_5dc.jpg)"></div>
					<div class="product_list-item-body">
						<a href="#">REINFORCEMENT STEEL А-III,
GOST 5781-82, RUSSIA</a>
					</div>
				</div>
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/p1.jpg)"></div>
					<div class="product_list-item-body">
						<a href="#">EQUAL ANGLE STEEL GOST 8509-93, RUSSIA</a>
					</div>
				</div>
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/p2.webp)"></div>
					<div class="product_list-item-body">
						<a href="#">STEEL CHANNEL, GOST 8240-97, 535-2005, RUSSIA</a>
					</div>
				</div>
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/p3.jpg)"></div>
					<div class="product_list-item-body">
						<a href="#">HOT-ROLLED STEEL SHEET, GOST 16523-97, 380-2005, 19903-2015, 1050-88, 14637-89, 19281-89, RUSSIA</a>
					</div>
				</div>
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/p4.jpg)"></div>
					<div class="product_list-item-body">
						<a href="#">CORRUGATED STEEL SHEET, GOST 8568-77, RUSSIA</a>
					</div>
				</div>
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/p5.jpg)"></div>
					<div class="product_list-item-body">
						<a href="#">COLD-ROLLED STEEL SHEET, GOST 16523-97;1050-2013;19904-90, KAZAKHSTAN</a>
					</div>
				</div>
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/p6.jpg)"></div>
					<div class="product_list-item-body">
						<a href="#">GALVANISED STEEL SHEET,  GOST  14918-80;1050-2013;19904-90, KAZAKHSTAN</a>
					</div>
				</div>
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/p7.jpg)"></div>
					<div class="product_list-item-body">
						<a href="#">DOUBLE-T IRON,  normal, medium-flange, GOST СТО АСЧМ 20-93, 26020-83, 8239-89, RUSSIA</a>
					</div>
				</div>
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/p8.jpg)"></div>
					<div class="product_list-item-body">
						<a href="#">DOUBLE-T IRON,  monorail</a>
					</div>
				</div>
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/p9.jpg)"></div>
					<div class="product_list-item-body">
						<a href="#">DOUBLE-T IRON, column</a>
					</div>
				</div>
				<div class="product_list-item">
					<div class="product_list-item-img" style="background-image: url(img/p10.jpg)"></div>
					<div class="product_list-item-body">
						<a href="#">DOUBLE-T IRON, wide-flange</a>
					</div>
				</div>
			</div>
			<div class="s3"></div>
			<div class="s4"></div>
		</div>
		<div class="s5"></div>
	</div>
	<div class="quest" id="contacts">
		<div class="container">
			<div class="quest_text">
				If you have any question, <br>
				please write to <b>info@minnesotatech.biz </b>

			</div>
			<div class="s2"></div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="left">
				Suite 102, Ground Floor, Blake Building, Corner Eyre & <br> Hutson Streets,Belize City, Belize
			</div>
			<div class="center">
				<b>MINNESOTA <br> TECHNOLOGY LTD</b>
				Copyright @ 2019. Developed by MD.uz
			</div>
			<ul class="social">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			</ul>
		</div>
	</footer>
	<script src="js/jquery.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>
